html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #464444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: gray;
  padding: 2rem 1rem;
}


.padding {
  padding: 5rem 0;
}

a {
  text-decoration: none;
}

/*Flex*/

.flex {
  display: flex;
  align-items: center;
}


.flex-20 {
  flex: 0 1 20%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-47 {
  flex: 0 1 47%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-60 {
  flex: 0 1 60%;
}


/*Headings*/

h1 {
  font-size: 2rem;
  font-weight: 900;
}


#text {
  width: 96%;
  padding: 1rem 1rem;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;
  outline: none;
  border: none;
  font-style: italic;
}

#ckbox {
  list-style: disc;
}

li {
  margin-top: 2rem;
  font-size: 1.5rem;
}
p {
  margin-left: 1.5rem;
  color: rgb(59, 55, 55);
} 
span {
  margin-left: 2rem;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: rgb(75, 73, 73);
  border: none;
  outline: none;
  border-radius: 40px;
}
